{% extends 'furniture/base.html' %}

{% block content %}
  <div class="card shadow mb-4 border-left-danger">
    <div class="card-header py-3">
      <h2>{{ title }}</h2>
    </div>
    <div class="card-body">
      <ul>
        {% if error %}
          <p class="text-danger">
            {% if error == 'box' %}
              Не найдена комбинация материалов для корпуса.
            {% elif error == 'door' %}
              Не найдена комбинация материалов для двери.
            {% else %}
              Неизвестная ошибка при расчёте.
            {% endif %}
          </p>
        {% endif %}
      </ul>
    <div>
    <div class="card-footer">
      <a class="btn btn-secondary" href="{% url 'wardrobe:calculator' %}">Назад</a>
    </div>
  </div>
{% endblock %}

