{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">

      <div class="card shadow border-left-danger">
        <div class="card-header bg-light text-danger text-center">
          <h2 class="h4 mb-0">
            <i class="fa-solid fa-circle-exclamation mr-2"></i>
            Удалить заказ?
          </h2>
        </div>

        <div class="card-body text-center">
          <img src="{% static 'img/delete.svg' %}" alt="Удаление" class="img-fluid my-4 w-50">

          <p class="mb-4">Вы уверены, что хотите удалить заказ?</p>

          <form method="post" class="d-flex justify-content-center gap-3 flex-wrap">
            {% csrf_token %}
            <a href="{% url 'wardrobe:show_wardrobe_orders' %}" class="btn btn-secondary px-4 m-2">Отмена</a>
            <button type="submit" class="btn btn-danger px-4 m-2">Удалить</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

