{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">

      <div class="card shadow border-left-success">
        <div class="card-header bg-light text-success text-center">
          <h2 class="h4 mb-0">
            <i class="fa-solid fa-circle-exclamation mr-2"></i>
            Готово!
          </h2>
        </div>

        <div class="card-body text-center">
          <img src="{% static 'img/success2.svg' %}" alt="Удаление" class="img-fluid my-4 w-50">

          <p class="mb-4">Заказ успешно сохранен</p>
          <a class="btn btn-secondary px-3 py-2" href="{{ url }}">К заказам</a>


        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

