{% extends 'furniture/base.html' %}
{% load static %}


{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Заказ &#8470;{{ customer_data.order_id }}: Шкаф двустворчатый </h1>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 style="font-size: 1.5rem;">Обновить данные заказчика</h6>       
      </div>

      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <a class="btn btn-secondary" href="{% url 'wardrobe:show_wardrobe_orders' %}">Назад</a>
          <button type="submit" class="btn btn-success float-right">Сохранить</button>
        </form>
      </div>
    </div>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">

      <div class="card-header py-3">
        <h6 style="font-size: 1.5rem;">Смета</h6>       
      </div>


      <div class="card-body">

        <div class="table-responsive">
          <h6 style="font-size: 1.5rem; margin-bottom: 25px;">Размеры</h6>
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Высота мм</th>
                <th>Ширина мм</th>
                <th>Глубина мм</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ object.height }}</td>
                <td>{{ object.width }}</td>
                <td>{{ object.depth }}</td>
              </tr>
            </tbody>
          </table>

          <br>
          <br>

          <h6 style="font-size: 1.5rem; margin-bottom: 25px;">Короб</h6>
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Материал</th>
                <th>Толщина материала мм</th>
                <th>Цвет материала</th>
                <th>Стоимость за м<sup>2</sup> руб.</th>
                <th>Площадь короба м<sup>2</sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ object.material_type}}</td>
                <td>{{ object.box_material_thickness}}</td>
                <td>{{ object.box_material_color}}</td>
                <td>{{ object.box_price_per_sqm}}</td>
                <td>{{ object.box_square}}</td>
              </tr>
            </tbody>
          </table>
          <p style="font-size: 1.2 rem">Общая стоимсоть короба: {{ object.box_price }} руб. </p>

          <br>
          <br>

          <h6 style="font-size: 1.5rem; margin-bottom: 25px;">Двери</h6>
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Тип дверей</th>
                <th>Толщина материала мм</th>
                <th>Цвет материала</th>
                <th>Стоимость за м<sup>2</sup> руб.</th>
                <th>Площадь дверей м<sup>2</sup></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ object.door_type }}</td>
                <td>{{ object.door_material_thickness }}</td>
                <td>{{ object.door_material_color }}</td>
                <td>{{ object.door_price_per_sqm }}</td>
                <td>{{ object.door_square }}</td>
              </tr>
            </tbody>
          </table>
          <p style="font-size: 1.2 rem">Общая стоимсоть дверей: {{ object.door_price }} руб. </p>

          <br>
          <br>

          <h6 style="font-size: 1.5rem; margin-bottom: 25px;">Фурнитура</h6>
          <table class="table table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Название ручки</th>
                <th>Цвет ручки</th>
                <th>Материал</th>
                <th>Межцентровое расстояние мм</th>
                <th>Стоимость за единицу</th>
                <th>Количество ручек</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ object.handle_name }}</td>
                <td>{{ object.handle_color }}</td>
                <td>{{ object.handle_material }}</td>
                <td>{{ object.handle_length|default:'нет' }}</td>
                <td>{{ object.handle_price_per_one }}</td>
                <td>{{ object.handle_ammount }}</td>
              </tr>
            </tbody>
          </table>
        <p style="font-size: 1.2 rem">Общая стоимсоть ручек: {{ object.handle_price }} руб. </p>
          
          <br>
          <br>

          <h6 style="font-size: 1.6rem; margin-bottom: 25px;">Общая стоимость шкафа:</h6>
          <p style="font-size: 3rem; margin-left: 50px;"> {{ object.total_price }} руб. </p>

        </div>
      </div>

    </div>

</div>
{% endblock %}


