{% extends 'furniture/base.html' %}
{% load static %}
{% block content %}
<!-- Card with form -->
<div class="container-fluid">
  <h1 class="h2 mb-2 text-gray-700">Сохранение заказа</h2>

    <div class="card border-left-warning shadow mb-4 mt-5">
        <div class="card-header py-3">
          <i class="fa-solid fa-floppy-disk"></i>
        </div>
        <div class="card-body">
            <form method="post" class="saveorder">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Submit buttons -->
                <button type="submit" class="btn btn-success mt-3" value="calculate">Сохранить</button>
            </form>
        </div>
    </div>

</div>

<script src="{% static 'js/validation-main.js' %}"></script>
{% endblock %}
