{% extends 'furniture/base.html' %}
{% load static %}
{% block content %}
<!-- Card with form -->
<div class="container-sm">
  <!-- card -->
  <div class="card shadow my-5">
    <!-- card header -->
    <div class="card-header bg-success text-light h5">
      <i class="fa-regular fa-hard-drive"></i>
    </div>
    <!-- card body -->
    <div class="card-body">
      <!-- message -->
      <div class="text-center my-4">
        <h3 class="text-dark">Сохранить заказ</h3>
      </div>

      <! --form -->
      <form method="post" class="saveorder">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- buttons -->
        <div class="d-flex justify-content-center mt-5">
          <a href="javascript:window.history.back();" class="btn btn-outline-secondary btn-lg px-4 mr-2">Назад</a>
          <button type="submit" class="btn btn-success btn-lg">Сохранить</button>
        </div>
      </form>
      <!-- image -->
      <div class="text-center mt-2">
        <img src="{% static 'img/save-order-r.png' %}" alt="Что-то не найдено" class="img-fluid my-4 w-50">
      </div>

    </div>
  </div>
</div><script src="{% static 'js/validation-main.js' %}"></script>
{% endblock %}
