{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container-sm">
  <div class="card shadow mb-4 mt-5 custom-resp">

    <!-- Header -->
    <div class="card-header bg-primary h6 text-white">
      <i class="fa-regular fa-circle-user"></i>
    </div>

    <!-- Card Body -->
    <div class="card-body">
      {% if reg_url %}

      <div class="text-center">
        <h3 class="text-dark mt-2">Ссылка на регистрацию</h4>
        <p class="text-primary lead px-3 mt-4">{{ reg_url }}</p>
        <br>
        <a href="{% url 'users:manage-users' %}" class="btn btn-outline-secondary btn-lg px-4 mr-2 mb-4">Назад</a>
      </div>

      {% else %}
      <div class="text-center mb-4">
        <p class="text-dark lead mt-2">После создания инвайта он будет доступен в таблице "Активные инвайты" в панели управления пользователями</p>
        <form method="post">
          {% csrf_token %}
          <button class="btn btn-success btn-lg px-4 mt-3" type="submit" value="generate">Создать</button>
        </form>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}
