{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container-sm">
  <div class="card shadow mb-4 mt-5 custom-resp">

    <! --Header -->
    <div class="card-header bg-primary h6 text-white">
      <i class="fa-regular fa-circle-user"></i>
    </div>

    <div class="card-body">
      {% if reg_url %}
      <div>
        <h3>Ссылка на регистрацию</h3>
        <p class="text-primary lead p-3">{{ reg_url }}</p>
        <br>
        <a href="{% url 'users:manage_users' %}" class="btn btn-outline-secondary btn-lg px-4 mr-2">Назад</a>
      </div>
      {% else %}
      <form method="post">
        {% csrf_token %}
        <label for="current-url" class="lead">Текущий URL</label>
        <input class="form-control" type="text" name="current-url" value="http://127.0.0.1:8000/">
        <button class="btn btn-success btn-lg px-4 mt-5" type="submit" value="generate">Создать</button>
      </form>
      {% endif %}
    </div>


  </div>
</div>
{% endblock %}
