{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800 main-header-custom-resp">{{ title }}</h1>

  <!-- Card -->
  <div class="card shadow border-primary mb-4 mt-5 custom-resp">

    <! --Header -->
    <div class="card-header bg-primary h6 text-white">
      <i class="fa-regular fa-circle-user"></i>
    </div>

    <div class="card-body">
      <h3 class="text-dark font-weight-bold mb-5">Пользователи</h3>
      <div class="table-responsive">
        <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Имя</th>
              <th>Email</th>
              <th>Телефон</th>
              <th>Telegram</th>
              <th>Статус</th>
              <th>Изменить</th>
            </tr>
          </thead>
          <tbody>
            {% for object in objects_list %}
              <tr>
                <td>{{ object.id }}</td>
                <td>{{ object.first_name }} {{ object.last_name }}</td>
                <td>{{ object.email }}</td>
                <td>{{ object.phone|default:"нет" }}</td>
                <td>{{ object.telegram|default:"нет" }}</td>
                <td>
                  {% if object.is_active %}
                    <span class="text-success">Активен</span>
                  {% else %}
                    Неактивен
                  {% endif %}
                </td>
                <td>
                  <a href="{% url 'users:toggle_user_activity' object.id %}" style="cursor: pointer;">
                  {% if object.is_active %}
                    Деактивировать
                  {% else %}
                    Активировать
                  {% endif %}
                 </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Invites -->
  <div class="card shadow border-primary mb-4 mt-5 custom-resp">
    <! --Header -->
    <div class="card-header bg-primary h6 text-white">
      <i class="fa-regular fa-circle-user"></i>
    </div>

    <div class="card-body">
      <h3 class="text-dark font-weight-bold mb-5">Активные инвайты</h3>
      <div class="table-responsive px-4">
        <table class="table-sm table-bordered" width="100%">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Инвайт</th>
              <th>Дата создания</th>
              <th>Действие</th>
            </tr>
            <tbody>
              {% for invite in invites_list %}
              <tr>
                <td>{{ invite.id }}</td>
                <td>{{ invite.invite_number }}</td>
                <td>{{ invite.created_at }}</td>
                <td>
                  <a href="{% url 'users:invite-details' invite.id %}" style="cursor: pointer;">Детали</a>
                </td>
              {% endfor %}
              </tr>
            </tbody>
          </thead>
        </table>
      </div>

      <a href="{% url 'users:generate_invite' %}" class="btn btn-success btn-lg px-4 mt-5">Создать</a>
    </div>
  </div>
</div>
{% endblock %}
