{% extends 'furniture/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="card border-left-info shadow h-100 mt-5">
      <div class="card-header text-info" style="font-size: 1.5rem;">
        <i class="fa-solid fa-circle-question mr-3"></i>
        Информация
      </div>
      <div class="card-body">
        <br>
        <div class="manual ml-1" style="">
          <h3 class="">А здесь тоже будет информация!</h3>
          <p>Будет составлено подробное описание расчета стоимости кодома.</p>
          <hr>
          <h3 class="">Расчет стоимости комода</h3>
          <p>
            Как считается площадь?<br>
            Как считается стоимость материала?<br>
            Фурнитура и другие дополнения<br>
            Итоговая цена<br>
          </p>
        <div>

        <div class="text-center">
          <img src="{% static 'img/maintance.png' %}" alt="Удаление" class="img-fluid my-4 w-25">
        </div>
      </div>
    </div>
</div>

{% endblock %}
