{% extends 'furniture/base.html' %}
{% load static %}
{% block content %}
<div class="container-sm">
    <div class="card shadow h-100 my-5 custom-resp">
      <div class="card-header text-info h4">
        <i class="fa-solid fa-circle-question mr-3"></i>
        Справка
      </div>
      <div class="card-body text-center">
        <!-- header image -->
        <div class="text-center mx-4">
          <img src="{% static 'img/wait-calc-r.png' %}" alt="В ожидании" class="img-fluid my-4 rounded">
        </div>
        <br>

        <!-- main header -->
        <h1 class="text-dark ml-4 font-weight-bold">Что-то здесь обязательно будет!</h1>

        <!-- text wrapper -->
        <div class="my-4">
          <p class="lead">Мы обязательно придумаем, как считать кухню</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}
