{% extends 'furniture/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="card border-left-info shadow h-100 mt-5">
      <div class="card-header text-info" style="font-size: 1.5rem;">
        <i class="fa-solid fa-circle-question mr-3"></i>
        Информация
      </div>
      <div class="card-body">
        <br>
        <div class="manual ml-1" style="">
          <h3 class="">Расчет стоимости шкафа</h3>
          <p>
            Стоимость шкафа рассчитывается в зависимости от его размеров и компонентов. Текущий калькулятор рассчитывает стоимость только для двустворчатого шкафа без полок.<br>
            Компонентами шкафа, участвующими в ценообразовании, являются:<br>
              - Короб<br> 
              - Дверки<br> 
              - Фурнитура (ручки)<br>
            Стоимость задней стенки входит в стоимость материалов короба.
          </p>
          <hr>
          <h3 class="">Расчет площади короба</h3>
          <p>
            В качестве размеров шкафа указываются высота, ширина и глубина короба в миллиметрах. 
            Отталкиваясь от этих данных рассчитывается площадь короба шкафа в метрах.
            Результат всегда округляется в большую сторону. Например, 1.2м<sup>2</sup> будут учтены как 2м<sup>2</sup>.
            Это связано с тем, что на изготовление одного шкафа уходит объем материала не в квадратных метрах, а в плитах.
            В рамках шаблонного проекта размер одной плиты считается как 1м<sup>2</sup>.
            Далее, цена рассчитывается в зависимости от цены за квадратный метр для выбранного материала.<br><br>
            Цена материала короба зависит от комбинации свойств:<br> 
              - материал (ДСП, МДФ, Массив дерева)<br>
              - толщина материала (16мм, 18мм, etc)<br>
              - цвет материала.<br><br>
            Цены для каждой комбинации, а так же ее наличие устанавливает сотрудник в разделе сайте "Дополнительно - Компоненты - Короб".
          </p>
          <hr>
          <h3 class="">Расчет площади дверок</h3>
          <p>
            Стоимость дверок рассчитывается в зависимости от площади дверок и стоимости материала дверок.
            Площадь дверок рассчитывается в квадратных метрах как произведение высоты шкафа на его ширину. 
            Результат округляется в большую сторону.<br><br>
            Цена материала дверок зависит от комбинации свойств дверок:<br>
              - тип дверок(распашная, купе, etc)<br>
              - толщина дверок<br> 
              - цвет дверок.<br><br>
            Цены для каждой комбинации, а так же ее наличие устанавливает сотрудник в разделе сайте "Дополнительно - Компоненты - Двери".
          </p>
          <hr>
          <h3 class="">Фурнитура</h3>
          <p>
            В стоимость изделия так же входят мебельные ручки. Список доступных мебельных ручек можно увидеть в разделе "Дополнительно - Компоненты - Мебельные ручки".
          </p>
          <hr>
          <h3 class="">Общая стоимость</h3>
          <p>
            Общая стоимость шкафа рассчитывается как сумма стоимости короба, стоимости дверок и стоимости мебельных ручек, в зависимости от их вида и количества. 
            Итоговая стоимость округляется в большую сторону.
          </p>
        <div>

        <div class="text-center">
          <img src="{% static 'img/workers.png' %}" alt="Сотрудники в офисе" class="img-fluid my-4 w-25">
        </div>
      </div>
    </div>
</div>

{% endblock %}
