{% extends 'furniture/base.html' %}
{% load static %}

{% block content %}
<div class="container-sm">
  <!-- card -->
  <div class="card shadow custom-resp">
    <!-- card header -->
    <div class="card-header bg-danger text-light h5">
      <i class="fa-solid fa-circle-exclamation mr-2"></i>
    </div>
    <!-- card body -->
    <div class="card-body d-flex flex-column align-items-center">
      <!-- message -->
      <div class="text-center mt-5">
        <h3 class="text-dark">{{ title }}</h3>
        <p class="py-3">{{ message }}</p>
      </div>
      <!-- buttons -->
      <div class="mt-2">
        <form method="post">
          {% csrf_token %}
          <a href="javascript:window.history.back();" class="btn btn-outline-secondary btn-lg px-4 mr-2">Назад</a>
          <button type="submit" class="btn btn-danger btn-lg">Удалить</button>
        </form>
      </div>
      <!-- image -->
      <div class="text-center mt-2">
        <img src="{% static 'img/delete-r.png' %}" alt="Что-то не найдено" class="img-fluid my-4 w-50">
      </div>

    </div>
  </div>
</div>
{% endblock %}

